{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %} Select Restaurant {% endblock %}

{% block content %}
<div class="container col-sm-12 col-md-8">
    <h4 class="heading">Choose a Restaurant</h4>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Rating</th>
        </tr>
    {% for restaurant in options: %}
        <tr>
            <td>
                <form action="{{url_for('track_restaurant')}}" method="POST">
                      <button type="submit" name="my_id" value={{restaurant.id}}" class="btn-link">
                          {{restaurant.name}}
                      </button>
                </form>
            </td>
            <td> {{restaurant.address.city}} </td>
            <td> {{restaurant.address.state}} </td>
            <td> {{restaurant.rating}} <i class="fas fa-star star"> </i> </td>
            <td>
                <form action="https://www.google.com/maps/place/{{restaurant.address.location.lat}},%20{{restaurant.address.location.lng}}" target="_blank">
                    <input class="btn-warning" type="submit" value="Find in Maps" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

</div>
{% endblock %}